.rnn-container {
    display: flex;
    font-family: "Segoe UI", sans-serif;
    background: var(--white-secondary);
    padding: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin-left: 120px;
}

.rnn-sidebar {
    position: sticky;
    top: 0;
    align-self: flex-start;
    /* Flexbox içindeyse yukarıda sabitlenir */
    height: 100vh;
    overflow-y: auto;
    background-color: var(--white);
    padding: 20px;
    border-right: 1px solid var(--white-secondary);
    border-radius: 8px;
    margin-right: 20px;
}

.rnn-sidebar-title {
    font-size: 18px;
    color: #4c4cff;
    margin-bottom: 20px;
    font-weight: bold;
}

.rnn-section {
    margin-bottom: 25px;
}

.rnn-section h4 {
    font-size: 14px;
    color: var(--black);
    margin-bottom: 10px;
}

.rnn-section label {
    display: block;
    margin-bottom: 8px;
    font-size: 13.5px;
    background-color: var(--white-secondary);
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
}

.rnn-section label:hover {
    background-color: var(--white);
}

.rnn-section label input {
    margin-right: 8px;
}

.rnn-section label.active {
    background-color: var(--white-secondary);
}

.rnn-content {
    flex: 1;
    background: var(--white);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.rnn-content h2 {
    margin-bottom: 20px;
}

.rnn-video-wrapper {
    margin-top: 30px;
    padding-left: 100px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    box-shadow: 0 0 8px var(--black);
    justify-content: center;
    align-items: center;
}

/* label.active {
    font-weight: bold;
    color: #007bff;
} */

.rnn-description {
    margin-top: 20px;
    background-color: f9f9fb;
    border-radius: 8px;
    background-color: var(--white-secondary);
    padding: 20px 15px;
    box-shadow: 0 0 8px var(--black);
}

.category-selector {
    margin-bottom: 10px;
}

.category-selector button {
    margin-right: 5px;
    padding: 6px 12px;
}

.category-selector button.active {
    background-color: var(--secondary-color);
    color: var(--white);
    border: none;
    border-radius: 3px;
}