footer{
    width: 100vw;
    height: 240px;
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-white {
    font-size: medium;
}
.m-0{
    font-size: small;
    color: white;
}
.form-control{
    padding: 15px;
    
}
.login-btn{
    background-color: var(--white);
    color: var(--primary-color);
    height: 50px;
    margin: 55px;
}